# App
DOMAIN=mailganer.loc
SECRET_KEY=secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1 localhost

# Database
#SQL_ENGINE=django.db.backends.postgresql
#SQL_DATABASE=mailganer
#SQL_USER=mailganer
#SQL_PASSWORD=nXx0r7kBRLmp
#SQL_HOST=db
#SQL_PORT=5432