{% extends 'dashboard_template.html' %}

{% block title %}
    {% with request.resolver_match.url_name as url_name %}
        - {% if url_name != 'template-update' %}Create{% else %}Update{% endif %} Template
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% with request.resolver_match.url_name as url_name %}
            <h1 class="h2">{% if url_name != 'template-update' %}Create{% else %}Update{% endif %} Template</h1>
        {% endwith %}
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'template-list' %}" class="btn btn-danger">Cancel</a>
    </form>
{% endblock %}